.background {
  top: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  z-index: 500;
  position: fixed;
  animation: Show_Background 0.5s ease forwards, Hide_Background 0.5s ease forwards;
  
  &.show {
    animation: Show_Background 0.5s ease forwards;
  }
}


.root {
  z-index: 500;
  padding: 4px 10px;
  position: fixed;
  box-shadow: var(--tooltip-shadow);
  border-radius: 6px;
  pointer-events: none;
  background-color: var(--accent-bg);
  /* background-color: var(--accent); */
  
  &.options {
    width: 100%;
    bottom: 0;
    display: flex;
    row-gap: 6px;
    padding: 20px 0 0 0;
    transform: translateY(110%);
    animation: Show_Panel 0.6s ease forwards, Hide_Panel 0.6s ease forwards;
    list-style: none;
    border-radius: 0;
    pointer-events: all;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  @media (width > 500px) {
    opacity: 0;
    transform: scale(0.98);
    transition: transform 0.4s, opacity 0.3s;
    
    &.options {
      width: auto;
      bottom: auto;
      padding: 6px;
      position: absolute;
      row-gap: 13px;
      animation: none;
      transform: translateY(0) scale(0.96);
      border-radius: 6px;
    }

    &.show {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  
    /* &-option:hover {
      filter: brightness(1.4);
    } */
  }
}

.root p {
  font-weight: 600;
}

.show .root  {
  animation: Show_Panel 0.6s ease forwards;
}

.option {
  cursor: pointer;
  /* display: flex; */
  position: relative;
  /* background-color: var(--accent-bg); */
}

.option::before {
  left: 0;
  width: 100%;
  height: 1px;
  bottom: -7px;
  content: '';
  position: absolute;
  background-color: var(--accent);
}

.option:last-child::before {
  display: none;
}

.tooltip-option-icon {
  display: flex;
  font-size: 20px;
}

.arrow {
  display: none;
  position: absolute;
  border-color: var(--bg);
}

.tooltip > div {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-radius: 6px;
  background-color: var(--bg);
}

.tooltip > div > *:first-child {
  margin-right: 16px;
}

.tooltip > div > *:last-child {
  font-weight: bold;
}

.top .arrow {
  bottom: -13px;
  border: 7px solid transparent;
  border-top: 8px solid var(--accent-bg);
}
  
.bottom .arrow {
  top: -13px;
  border: 7px solid transparent;
  border-bottom: 8px solid var(--accent-bg);
}

@media (width > 500px) {  
  .option {
    display: flex;
    padding: 8px 12px;
    column-gap: 6px;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 6px;
  }
  
  .option:hover {
    background-color: var(--bg);
  }

  .arrow {
    display: block;
    position: absolute;
  }
}


@keyframes Show_Background {
  100%{
    backdrop-filter: var(--backdrop-filter);
  }
}

@keyframes Hide_Background {
  100%{
    backdrop-filter: initial;
  }
}

@keyframes Show_Panel {
  60%{
    transform: translateY(0);
    padding-bottom: 50px; 
  }
  80%{
    transform: translateY(0);
    padding-bottom: -32px; 
  }
  100%{
    transform: translateY(0);
    padding-bottom: 40px; 
  }
}

@keyframes Hide_Panel {
  100%{
    bottom: -100%;
  }
}