:root {
  --accent: #36a9c6;
  --discord: #5865F2;
  --text: #dcdcdc;
  --bg: #212121;
  --bg: #141a1b;
  --text-light: #ababab;
  --border: #666;
  --accent-light: #ffecb3;
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
  --accent-bg: #242f33;
  --tooltip-shadow: -3px 5px 16px #0b0e0e;
  --backdrop-filter: blur(2px) brightness(50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  flex: 1;
}

a{
  color: var(--accent);
  
  &:hover{
    text-decoration: none;
  }
}

ul{
  list-style: none;
}

p{
  max-width: 700px;
}

nav{
  gap: 20px;
  display: flex;
  align-items: center;
}

nav ul{
  display: flex;
}

nav a {
  margin: 0 0.5rem;
  border: 1px solid var(--border);
  color: var(--text);
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: 0.4s;
  border-radius: 6px;
  text-decoration: none;
}

nav a:hover, nav a.current {
  color: var(--accent);
  border-color: var(--accent);
}

nav a.current:hover {
  text-decoration: none;
}

button, .button{
  color: var(--bg);
  border: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  font-size: 16px;
  transition: filter 0.3s;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  background-color: var(--accent);

  &:hover{
    filter: brightness(1.4);
  }
}

button.success, .button.success{
  color: var(--text);
  background-color: #0c8a29;
}
button.invert, .button.invert{
  color: var(--accent);
  background-color: var(--bg);
}

blockquote {
  margin: 2rem;
  padding: 0.4rem 0.8rem;
  border-left: 6px solid var(--accent);
  border-radius: 6px;
  background-color: var(--accent-bg);
}
