.home {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home h2 {
  color: var(--accent);
  margin: 20px;
}

.paragraph {
  white-space: pre-wrap;
  text-wrap: balance;
}