.home {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home h2 {
  color: var(--text-light);
  margin-bottom: 60px;
  font-size: 40px;
}
  
.botName {
  color: var(--accent);
}

.discord {
  color: var(--discord);
}

.paragraph {
  white-space: pre-wrap;
  text-wrap: pretty;
  margin-bottom: 50px;
  max-width: 600px;
}